<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../static/js/jsobject.js"></script>
    <script type="text/javascript" src="../static/js/jsarrays.js"></script>
    <script type="text/javascript" src="../static/js/jsclass.js"></script>
</head>
<body>

<h1>JavaScript Variables</h1>

<p>JavaScript.</p>
<p>Declaring variables using var, let and const</p>

<p id="demo1"></p>
<p id="demo2"></p>
<p id="demo3"></p>

<p>Click the following button to see the function in action</p>
<input type = "button" onclick = "" value = "Display">

</body>
</html>